* {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #03256C;
    text-align: center;
    color: white;
    font-size: 30px;
}

a.nav {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-family: "Roboto";
}

body {
    margin: 0;
}

footer {
    background-color: #03256C;
    text-align: center;
    color: white;
}

section.section1 {
    background-color: #03256C;
    text-align: center;
    color: white;
}

section.section4 {
    margin-top: 20px;
}

.header-left {
    text-align: left;
}

.header-center {
    text-align: center;
    font-size: 40px;
}

.rounded-image {
    width: 500px; 
    height: auto;
    border-radius: 15px; 
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.box1 {
    width: 50%;
    height: 200px;
    text-align: left;
}

.box2 {
    width: 100%; /* Make sure the image takes full width */
    max-width: 500px; /* Limit the maximum width of the image */
    border-radius: 10px; /* Add border-radius to match the design */
}

.container1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Flex container for hver rad */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto; /* Avstand mellom radene */
}

/* Styling for bildene */
.image-box {
    width: 50%;
    border-radius: 15px;
    height: auto;
}

/* Styling for teksten */
.text-box {
    width: 400px;
    font-size: 20px;
    line-height: 1.6;
}


.quote-container {
    background-color: #1768AC;
    padding: 20px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.quote-text {
    font-style: italic;
    color: black;
}

.quote-author {
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.box3 {
    padding: 20px;
    border-radius: 10px;
    width: 48%;
    text-align: center;
    background-color: #2541B2;
    justify-content: flex-end;
}

span.A {
    display: block; 
    width: 500px; 
    height: 150px; 
    padding: 20px;
    border-radius: 15px; 
    background-color: #2541B2; 
    margin: 0 auto;
}

