@font-face {
    font-family: 'Roboto';
    src: url(fonts\Roboto);
}

* {
    font-family: Roboto, sans-serif;
}

header {
    background-color: #03256C;
    text-align: center;
    color: white;
    font: 20px;
}

a.nav-link:link
{
   color: white;
   text-decoration: none;
}
a.nav-link:visited
{
   color: white;
   text-decoration: none;
}
a.nav-link:hover
{
   color: white;
   text-decoration: none;
}
a.nav-link:active
{
   color: white;
   text-decoration: none;
}

footer {
    background-color: #03256C;
    text-align: center;
    color: white;
}

section.section1 {
    background-color: #03256C;
    text-align: center;
    color: white;
}

.header-left {
    text-align: left;
}

.header-center {
    text-align: center;
}

.container1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box1 {
    padding: 20px;
    border-radius: 10px;
    width: 48%;
    text-align: left;
}

/* Flex container for hver rad */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px; /* Avstand mellom radene */
}

/* Styling for bildene */
.image-box {
    width: 40%;
    border-radius: 2px;
    display: flex;
    justify-content: center;   /* Sentrer bilde horisontalt */
    align-items: center;
}

/* Styling for teksten */
.text-box {
    width: 500px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
    display: flex;
    text-align: center;
}

.rounded-image {
    border-radius: 15px;
    width: 80%; /* Sett bredde på bildet */
    height: auto;
}